@import url('https://fonts.googleapis.com/css?family=Overlock" rel="stylesheet');

.focused-brands{
font-size: 27px;
margin-top: 30px;
font-weight: 400;
padding-left: 90px;
font-family: 'Overlock', cursive;
}
p{
  padding-left:90px;
  font-size:19px;
  font-family: 'Overlock', cursive;

}

