img{
    height: 40px;
}
form .mr-sm-2{
    height: 30px;
    margin-left: 100px;
}
.mr-auto{
    font-weight:700;
    font-size:15px;
}
.Form span{
    margin-right: 50px;
}

navbar{
    positon:fixed;
}
